<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-7">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-warning text-center">
                                <i class="ti-hummer"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Total Hashrate</p>
                                {{globalStatus.cblocks_hashrate.toFixed(1)}}/{{globalStatus.gblocks_hashrate.toFixed()}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-angle-double-right"></i> Current: {{(globalStatus.current_block % 2 == 0) ? globalStatus.cblocks_hashrate.toFixed(1) : globalStatus.gblocks_hashrate.toFixed()}} h/s
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-7">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-success text-center">
                                <i class="ti-server"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Shares / Best DL</p>
                                {{globalStatus.cblocks_shares  + globalStatus.gblocks_shares}} / {{globalStatus.best_dl}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-split-h"></i> (C) {{globalStatus.cblocks_shares}} (G) {{globalStatus.gblocks_shares}} (B) {{globalStatus.blocks}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-7">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-danger text-center">
                                <i class="ti-pulse"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Rejects</p>
                                {{globalStatus.cblocks_rejects  + globalStatus.gblocks_rejects}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-split-h"></i> (C) {{globalStatus.cblocks_rejects}} (G) {{globalStatus.gblocks_rejects}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-7">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-warning text-center">
                                <i class="ti-alarm-clock"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Uptime</p>
                                {{globalStatus.uptimeHours}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-hummer"></i> Workers: {{globalStatus.workers_count}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-7">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-widget"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Current Block</p>
                                ({{(globalStatus.current_block % 2 == 0) ? "C" : "G"}}) {{globalStatus.current_block}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-info-alt"></i> (C/Dl) {{globalStatus.cblocks_dl}} (G/Dl) {{globalStatus.gblocks_dl}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-7">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-success text-center">
                                <i class="ti-wallet"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Balance</p>
                                {{wallet.balance.toFixed(2)}} ARO
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-calendar"></i> 24h earnings: {{wallet.last24.toFixed(2)}} ARO
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Hashrate History</h4>
                    <p class="category">{{today}}</p>
                </div>
                <div class="content">
                    <div id="chartActivity" class="ct-chart"></div>

                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> CBlocks Hashrate
                            <i class="fa fa-circle text-warning"></i> GBlocks Hashrate
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-info-alt"></i> For 24h interval
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Online Workers</h4>
                    <p class="category">Workers that responded in the last 10 minutes</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th *ngFor="let cell of workers.headerRow">{{ cell }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of workers.dataRows">
                            <td *ngFor="let cell of row">{{cell}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
